*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Navigation */
.navBarContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: orangered;
    margin-bottom: 1rem;
    border-bottom: solid black 5px;
}
.navBarContainer a{
    text-decoration: none;
    color: black;
}
.navBarContainer a:hover{
    color: white;
}
.navBarLogo{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom:1rem ;
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
}
.navBarSocial{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}
.fa{
    font-size: 2rem;
    margin-left: 5px;
}



/* index.html cards */
.mainContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #f8f8ff;
}
.cardContainer{
    margin: 0.5rem;
    max-width: 230px;
    height: 340px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    background-color: #f8f8ff;
    border-left: rgba(0, 0, 0, 0) solid 1px;
    border-bottom: rgba(0, 0, 0, 0) solid 1px;
}
.cardContainer:hover{
    box-shadow: 2px 2px 5px black;
    border-left: black solid 1px;
    border-bottom: black solid 1px;
}
.cardThumbnail{
    height: auto;
    width: 100%;
    margin-bottom: 1rem;
}
.cardDescriptionContainer{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    color: black;
}
.cardNumberBox{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
    min-width: 60px;
}
.cardNumberBox p{
    color: orangered;
    font-weight: bolder;
    font-size: 2rem;    
}
.cardTextBox p{
    text-align: justify;
}



/* ==================================
                pages
================================== */

.page{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    line-height: 1.5rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 3rem;
    text-align: justify;
}
.page h1{
    text-align: center;
    width: 100%;
    color: black;
    margin-bottom: 1rem;
    font-size: 2rem;
}
.page h2{
    margin-top: 4rem;
    margin-bottom: 1rem;
}
.page p{
    margin-bottom: 0.5rem;
}
.page a{
    color: orangered;
    text-decoration: none;
}
.page_indent{
    margin-left: 3rem;
}
.page_detailsIMG{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: solid black 3px;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}
.page_details{
    display: flex;
    flex-direction: column;
    max-width: 300px;
}
.page_details span{
    font-weight: bold;
}
.page_image{
    max-width: 380px;
    margin: 1rem;
}
.page_image img{
    width: 100%;
}
.page_videoDL{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: solid black 3px;
    padding-bottom: 2rem;
}
.page_video_container {
    width: 98%;             /* width of container holding responsive video */
    max-width: 600px;
    border: white 3px solid;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: black 10px 10px 20px;
}
.page_video {
    width: 100%;            /*allow video to use 100% width available inside container*/
    height: 100%;           /*using the padding to give height to video*/
    padding-bottom: 56.25%; /*% ratio 560 x 315 padding at bottom gives video height*/
    position: relative;     /*relative (parent) so the iframe (child) can be absolute*/
}
.page_video iframe {
    position: absolute;     /*absolute so the video wont bleed outside the parent container*/
    height: 100%;           /*height of parent container*/
    width: 100%;            /*width of parent container*/
}
.page_DL{
    display: flex;
    align-items: center;
    margin: 1rem;
}
.page_DL a{
    color: black;
    font-weight: bold;   
}
.page_btn{
    border: solid black 3px;
    border-radius: 10px;
    padding: 1rem 2rem;
    box-shadow: black 10px 10px 20px;
    /* background-color: lightgreen; */
}
.page_btn:hover{
    background-color: white;   
    border-color: orangered;   
    color: orangered;
}

.page_products_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    background-color: black;
}
.page_products_image_container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.page_products_image{
    margin: .5rem;
    overflow: hidden;
}
.page_products_image img{
    width: 100%;
    max-width: 200px;
    border: black solid 3px;
    border-radius: 5px;
}
.page_products_image img:hover{
    border: orangered solid 3px;
}
.page_products_disclosure_container{
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: justify;
    color: orangered;
    background-color: black;
    padding: 0.5rem 1rem;
    border: orangered solid 2px;
    border-radius: 10px;
    margin-bottom: 2rem;
    font-size: 0.8rem;
}













/* footer */
.footerContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: orangered;
    border-top: solid black 5px;
}
.footerContainer a{
    text-decoration: none;
    color: black;
}
.footerContainer a:hover{
    color: white;
}
.footerLogo{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom:1rem ;
    font-weight: bolder;
    text-align: center;
    font-size: 1.5rem;
}
.footerMenu{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom:1rem ;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
    font-size: 1.2rem;
}
.footerSocial{ 
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}
.footerCopyright{
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    width: 100%;
}
.footerfa{
    font-size: 3rem;
    margin-left: 5px;
    margin-right: 5px;
}

/* sitemap */
.sitemap{
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
}
.sitemap h1{
    color: black;
    margin-bottom: 1rem;
    font-size: 2rem;
}
.sitemap a{
    color: black;
    text-decoration: none;
}
.sitemap a:hover{
    color: orangered;
    background-color: black;
    scale: 115%;    
}
.sitemap_indent{
    margin-left: 3rem;
}

/* privacy */
.privacy{
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 5rem;
    text-align: justify;
}
.privacy h1{
    color: black;
    margin-bottom: 1rem;
    font-size: 2rem;
}
.privacy h2{
    margin-top: 4rem;
    margin-bottom: 1rem;
}
.privacy p{
    margin-bottom: 0.5rem;
}
.privacy a{
    color: orangered;
    text-decoration: none;
}
.privacy a:hover{
    color: black;       
}
.privacy_indent{
    margin-left: 3rem;
}
#privacy_template_link{
    margin-top: 3rem;
    font-size: 0.8rem;
}

/* cookie */
.cookie{
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 5rem;
    text-align: justify;
}
.cookie h1{
    color: black;
    margin-bottom: 1rem;
    font-size: 2rem;
}
.cookie h2{
    margin-top: 4rem;
    margin-bottom: 1rem;
}
.cookie p{
    margin-bottom: 0.5rem;
}
.cookie a{
    color: orangered;
    text-decoration: none;
}
.cookie a:hover{
    color: black;       
}

/* about */
.about{
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 5rem;
    text-align: justify;
}
.about h1{
    color: black;
    margin-bottom: 1rem;
    font-size: 2rem;
}
.about h2{
    margin-top: 4rem;
    margin-bottom: 1rem;
}
.about p{
    margin-bottom: 0.5rem;
}
.about a{
    color: orangered;
    text-decoration: none;
}
.about a:hover{
    color: black;       
}
.about_indent{
    margin-left: 3rem;
}
.about_social{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    line-height: 2rem;
}
.about_social span{
    margin-left: 1rem;
}
