html {
    scroll-behavior: smooth;
  }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Navigation */
.navBarContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: orangered;
    margin-bottom: 1rem;
    border-bottom: solid black 5px;
}
.navBarContainer a{
    text-decoration: none;
    color: black;
}
.navBarContainer a:hover{
    color: white;
}
.navBarLogo{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom:1rem ;
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
}
.navBarSocial{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}
.fa{
    font-size: 2rem;
    margin-left: 5px;
}



/* article */
.mainContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #f8f8ff;
}
.cardContainer{
    margin: 0.5rem;
    max-width: 230px;
    height: 340px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    background-color: #f8f8ff;
}
.cardContainer:hover{
    box-shadow: 2px 2px 4px black;
}
.cardThumbnail{
    /* max-width: 280px; */
    height: auto;
    width: 100%;
    margin-bottom: 1rem;
}
.cardDescriptionContainer{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    color: black;
}
.cardNumberBox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: 60px;
}
.cardNumberBox p{
    color: orangered;
    font-weight: bolder;
    font-size: 2rem;    
}
.cardTextBox p{
    text-align: justify;
}

/* about */
.sectionContainer{
    color: black;
    background-color: orangered;
    padding: 1rem;
    border-top: solid black 5px;
    border-bottom: solid black 5px;
    letter-spacing: 1.5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.sectionTitle{
    padding-bottom: 1rem;
    font-weight: bolder;
}
.sectionText{
    text-align: justify;
    line-height: 1.5rem;
}
.sectionText p{
    margin-top: 1rem;
}
.sectionText span{
    font-weight: bolder;
}


/* footer */
.footerContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: orangered;
    border-top: solid black 5px;
}
.footerContainer a{
    text-decoration: none;
    color: black;
}
.footerContainer a:hover{
    color: white;
}
.footerLogo{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom:1rem ;
    font-weight: bolder;
    text-align: center;
    font-size: 1.5rem;
}
.footerMenu{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom:1rem ;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
    font-size: 1.2rem;
}
.footerSocial{ 
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}
.footerCopyright{
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    width: 100%;
}
.footerfa{
    font-size: 3rem;
    margin-left: 5px;
    margin-right: 5px;
}

/* sitemap */
.sitemap{
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
}
.sitemap h1{
    color: black;
    margin-bottom: 1rem;
}
.sitemap a{
    color: black;
    text-decoration: none;
}
.sitemap a:hover{
    color: orangered;
    background-color: black;
    scale: 115%;    
}
.sitemap_indent{
    margin-left: 3rem;
}

/* privacy */
.privacy{
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 5rem;
    text-align: justify;
}
.privacy h1{
    color: black;
    margin-bottom: 1rem;
}
.privacy h2{
    margin-top: 4rem;
    margin-bottom: 1rem;
}
.privacy p{
    margin-bottom: 0.5rem;
}
.privacy a{
    color: orangered;
    text-decoration: none;
}
.privacy a:hover{
    color: black;       
}
.privacy_indent{
    margin-left: 3rem;
}
#privacy_template_link{
    margin-top: 3rem;
    font-size: 0.8rem;
}